header{
    height:10vh;
}
body{
    display: block;
    margin: 0;
    padding: 0;

}
.container{
    margin: 50px;
}
.blocks{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    justify-content: center;
}
.block1{
    background-color: #74BDA0;
}
.block2{
    background-color: #C73F3F;
}
.block3{
    background-color: #FFC34E;
}
.block4{
    background-color: #BDA574;
}
.block5{
    background-color: #849FE6;
}
.block6{
    background-color: #63B5AA;
}
.disc1{
    background-color: #48816E;
}
.disc2{
    background-color: #821111;
}
.disc3{
    background-color: #9E6820;
}
.disc4{
    background-color: #BE7B48;
}
.disc5{
    background-color: #5A68C7;
}
.disc6{
    background-color: #3D7F77;
}
#box{
    height: 250px;
    width: 200px;
    margin:10px 90px 50px 80px ;
    border-radius: 40px;
}
#box img{
    margin: 20px 0px 0px 25px;
}
#box p{
    color: white;
}
#disc{
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 40px 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}